<div class="container">
    <h1 class="my-4">Membership Details for <%= membership.type %></h1>
    <table class="table table-striped table-hover table-responsive-md fs-3">
        <tr>
            <th>Type</th>
            <td>
                <%= membership.type %>
            </td>
        </tr>
        <tr>
            <th>Duration</th>
            <td>
                <%= membership.duration %> days
            </td>
        </tr>
        <tr>
            <th>Price</th>
            <td>
                <%= membership.price %>
            </td>
        </tr>
    </table>
    <div class="d-flex flex-wrap mt-3">
        <a href="/memberships" class="mx-1 my-1">
            <button type="button" class="btn btn-primary btn-lg">View all memberships</button>
        </a>
        <% if (loggedIn) { %>
            <form method="post" action="/memberships/<%= membership._id %>/buy" class="mx-1 my-1">
                <button type="submit" class="btn btn-primary btn-lg">Buy Membership</button>
            </form>
        <% } %>
    </div>
</div>
